
<div class="border-primary">


    <div class=" container row justify-content-md-center text-center container-fluid">
        <div class="col col-3 bg-white" style="border-radius: 15px; border: 1px solid grey; box-shadow: 0 5px 5px 0 gray">
            <h3>Front-end</h3>
            <p>
                Ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
            </p>

            <p class="text-primary">
                Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
            </p>

            <ul style="list-style: none; padding: 0">
                <li>Web API</li>
                <li>Html</li>
                <li>Javascript</li>


            </ul>
        </div>

        <div class="col col-3 bg-white" style="border-radius: 15px; border: 1px solid grey; box-shadow: 0 5px 5px 0 gray">
            <h3>Back-end</h3>
            <p>
                Ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
            </p>

            <p class="text-primary">
                Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
            </p>

            <ul style="list-style: none; padding: 0px">
                <li>API Rest</li>
                <li>Javascript</li>
                <li>MongoDB</li>

            </ul>

        </div>

    </div>

</div>