


<div class="text-center d-xxl-flex flex-column container-fluid">
    
    <h2 class="display-6">Mi nombre Xulio Xaviert Rojas Teixeira</h2>
    <h3>Desarrollador Front-end</h3>
    <img class="img-fluid" src="~/img/xulio.png" alt="Foto" />
</div>

<div class="row justify-content-center text-center">
    <div class="col col-md-7">

        <h2>Te doy la bienvenida a mi portafolio</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores ex ullam facilis quidem excepturi corporis saepe labore, ab omnis, sed in consequatur delectus, dolore vero praesentium repellendus quam nam quia! Quidem ipsum repellendus sed ut cumque! Tempora illo repudiandae architecto nisi fuga harum itaque facilis quam porro. Quisquam, tenetur doloribus!
        </p>

    </div>

</div>
