@model IEnumerable<Project>


@if (Model is not null)
{

    <div class="text-center" style="padding-top: 6em">
        <h2>Mis trabajos recientes</h2>
        <p> Aquí puedes ver mis proyectos:</p>

    </div>

   <partial name="_ProjectsList" model="Model" />


}
