@model IEnumerable<Project>


@{
    ViewData["Title"] = "Proyectos";
}


<div class="container">
    <h2>Mis proyectos</h2>
    <p>Lista de proyectos</p>

</div>

<partial name="_ProjectsList" model="Model" />